[submodule "axis_camera"]
	path = axis_camera
	url = https://github.com/ros-drivers/axis_camera
[submodule "axis_imu"]
	path = axis_imu
	url = https://gitlab.liu.se/axis/axis_imu.git
[submodule "camera_info_manager_py"]
	path = camera_info_manager_py
	url = https://github.com/ros-perception/camera_info_manager_py.git
[submodule "image_common"]
	path = image_common
	url = https://github.com/ros-perception/image_common.git
[submodule "image_pipeline"]
	path = image_pipeline
	url = https://github.com/ros-perception/image_pipeline.git
[submodule "image_transport_plugins"]
	path = image_transport_plugins
	url = https://github.com/ros-perception/image_transport_plugins.git
[submodule "inertial_sense_ros"]
	path = inertial_sense_ros
	url = https://github.com/inertialsense/inertial_sense_ros.git



[submodule "pluginlib"]
	path = pluginlib
	url = https://github.com/ros/pluginlib.git
[submodule "qt_gui_core"]
	path = qt_gui_core
	url = https://github.com/ros-visualization/qt_gui_core.git
[submodule "rqt"]
	path = rqt
	url = https://github.com/ros-visualization/rqt.git
[submodule "rqt_common_plugins"]
	path = rqt_common_plugins
	url = https://github.com/ros-visualization/rqt_common_plugins.git
[submodule "rqt_robot_plugins"]
	path = rqt_robot_plugins
	url = https://github.com/ros-visualization/rqt_robot_plugins.git
[submodule "class_loader"]
	path = class_loader
	url = https://github.com/ros/class_loader.git
